[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
pymongo = "*"
flask = "*"
python-crontab = "*"
pandas = "*"
time = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"
